@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-5">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Maklumat Peserta</h3>
            </div>
            <div class="panel-body" id="div_mock" style="display:none">
                <div class="text-center">
                    <img src="~/img/Picture1.png" class="img-rounded" alt="..." width="176" height="225" >
                </div>
                <div class="text-center">
                    <label for="icinput" class="control-label">Nama:</label>
                    <label>Noorhaifizah</label>
                </div>
                <div class="text-center">
                    <label for="icinput" class="control-label">No Kp Semasa:</label>
                    <label>78xxxxxxxxx</label>
                </div>
                <div class="text-center">
                    <label for="icinput" class="control-label">Alamat:</label>
                    <label>
                        49 Jalan XX
                        SP xx
                        Bandar Saujana Putra
                        Jenjarom, Selangor
                    </label>
                </div>
                <div class="text-center">
                    <label for="icinput" class="control-label">No Akaun TH:</label>
                    <label>456456488</label>
                </div>
                <div class="text-center">
                    <label for="icinput" class="control-label">No KT:</label>
                    <label>1</label>
                </div>
                <div class="text-center">
                    <label for="icinput" class="control-label">No Kumpulan:</label>
                    <label>1</label>
                </div>
            </div>

            <div class="panel-body" id="div_mockempty">
                <div class="text-center">
                    <img src="~/img/blank_user.png" class="img-rounded" alt="..." width="176" height="225">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <form class="form-horizontal form_hijr">
            <div class="panel panel-success" id="div_pertanyaan">
                <div class="panel-heading">
                    <h3 class="panel-title">Pertanyaan</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="icinput" class="col-md-3 control-label">No KP Semasa</label>
                        <div class="col-md-9">
                            <input class="form-control" id="icinput" type="text" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="button" class="btn btn-default" value="Hantar" id="btn_pertanyaan" />
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-success" id="div_paparsurat" style="display:none">
                <div class="panel-heading">
                    <h3 class="panel-title">Papar Surat Tawaran</h3>
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        <div class="form-group">
                            <input type="button" class="btn btn-success" value="Papar Surat Tawaran" />
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-success" id="div_pengesahan" style="display:none">
                <div class="panel-heading">
                    <h3 class="panel-title">Pengesahan</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="icinput" class="col-md-3 control-label">Pengesahan</label>
                        <div class="col-md-9">
                            <select class="form-control">
                                <option>--Sila pilih--</option>
                                <option>Ya</option>
                                <option>Tidak</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="button" class="btn btn-default" value="Hantar" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-success" id="div_ecard" style="display:none">
                <div class="panel-heading">
                    <h3 class="panel-title">Penyerahan eCard</h3>
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        <div class="form-group">
                            <input type="button" class="btn btn-success" value="Isu eCard" />
                        </div>
                    </div>

                </div>
            </div>

            @Html.Partial("_KursusKehadiranPartial")
            @Html.Partial("_KesihatanPengesahan")
            @Html.Partial("_PassportVisaBagasi")
        </form>
        
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {

            $('#btn_pertanyaan').click(function () {
                $('#div_mock').show('normal');
                $('#div_mockempty').hide();
            });

            $(".hijr_menu").click(function (e) {
                //$(".form_hijr div").fadeOut('slow');
                //$('#' + $(this).data('rel')).show('slow');
                var target = $(this).data('rel');
                $("#" + target).show('normal').siblings("div").hide('normal');
            });

            //$('#pertanyaan').click(function () {
            //    $('#div_mockempty').show('normal');
            //    $('#div_mock').hide();
            //    $('#div_pertanyaan').show('normal');

            //    $('#div_paparsurat').hide();
            //    $('#div_pengesahan').hide();
            //    $('#div_ecard').hide();
            //});

            //$('#paparsurat').click(function () {
            //    $('#div_paparsurat').show('normal');

            //    $('#div_pengesahan').hide();
            //    $('#div_pertanyaan').hide();
            //    $('#div_ecard').hide();
            //});

            //$('#pengesahan').click(function () {
            //    $('#div_pengesahan').show('normal');

            //    $('#div_paparsurat').hide();
            //    $('#div_pertanyaan').hide();
            //    $('#div_ecard').hide();
            //});

            //$('#ecard').click(function () {
            //    $('#div_ecard').show('normal');

            //    $('#div_pengesahan').hide();
            //    $('#div_paparsurat').hide();
            //    $('#div_pertanyaan').hide();
            //});
        });
    </script>
    }
